<template>
    <div>
        <div class="search-bar-wrap"
             :data="list.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()))
            "style="width: 100%">
            <div class="icon"><i class="el-icon-search"></i></div>
            <div  class="search-bar">
                <el-input
                    v-model="search"
                    placeholder="회원 ID로 검색 "/> </div>
        </div>
        <el-table
            :data="list"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="no."
                width="150">
            </el-table-column>
            <el-table-column
                prop="questionCategory"
                label="분류"
                width="150">
            </el-table-column>
            <el-table-column
                prop="memberEntityId"
                label="memberId"
                width="150">
            </el-table-column>
            <el-table-column
                type="title"
                prop="title"
                label="제목"
                width="400">
            </el-table-column>
            <el-table-column
                prop="dateWrite"
                label="등록일"
                width="150">
            </el-table-column>
            <el-table-column
                prop="answerStatus"
                label="답변 상태"
                width="150">
            </el-table-column>
            <el-table-column
                label="답변 하기">
                <template slot-scope="scope">
                    <el-button
                        @click="moveDetail(scope.row.id)">상세 보기</el-button>
                    <el-button
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>


import anonymous from "@/middleware/anonymous";

export default {
    middleware: 'anonymous',
    data() {
        return {
            list:[
            ],
            detail:'',
            memberId:'',
            search:'',
            answerStatus: "대기"
        }
    },
    created() {
        this.checkPage()
        this.getList()
    },
    methods: {
        moveDetail(data) {
            console.log(data)
            let linkBaseUrl = '/answer/add/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        getList() {
            this.$store.dispatch(this.$questionConstants.GET_QUESTION_LIST)
                .then((res) => {
                    console.log(123)
                    console.log(res)

                    if( res.data.list.id === 4 ){
                        this.list = res.data.list
                    }
                    this.list = res.data.list
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
        checkPage(){
            console.log('check')
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'QUESTION_LIST')
    }
}
</script>
