<template>
<div class="refrigerator-content-wrap">
    <div class="disabled">   </div>
    <div class="refrigerator-wrap">
 <div class="left-image-box">
 <div class="refrigerator-image-box1">
     <div class="refrigerator-image-box2">
     <el-upload
         action="https://jsonplaceholder.typicode.com/posts/"
         list-type="picture-card"
         :on-preview="handlePictureCardPreview"
         :on-remove="handleRemove">
         <i class="el-icon-plus"></i>
     </el-upload>
     <el-dialog :visible.sync="dialogVisible">
         <img width="200%" :src="dialogImageUrl" alt="">
     </el-dialog>
     </div>
 </div>
     <p class="img-thumbnail-food">사진을 등록하세요.</p>
    </div>
 <div class="refrigerator-right">
        <div class="refrigerator-right1"><p>냉장고 모델</p></div>
        <div class="refrigerator-right2">
            <el-select v-model="value" placeholder="Select">
                <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
        </div>
     <div class="refrigerator-right3">
         <p>식재료</p>
     </div>
     <div class="refrigerator-right4">
         <form>
             <div id="box1">
                 <input type="text">
             </div>
             <div class="date-how-many">
                <div class="refrigerator-right5">
                    <el-input-number
                        v-model="num" @change="handleChange" :min="1" :max="15">
                    </el-input-number>
                    <span class="demonstration">(등록 수량)</span>
                </div>
                 <div>
                     <div class="refrigerator-right6">
                         <el-date-picker
                             v-model="value2"
                             type="date"
                             placeholder="등록 일자"
                             :picker-options="pickerOptions">
                         </el-date-picker>
                     </div>
                 </div>
             </div>
         </form>
     </div>
     <div class="refrigerator-right3">
         <p>식재료</p>
     </div>
     <div class="refrigerator-right4">
         <form>
             <div id="box1">
                 <el-input ></el-input>
             </div>
             <div class="date-how-many">
                 <div class="refrigerator-right5">
                     <el-input-number
                         v-model="num1" @change="handleChange" :min="1" :max="15">
                     </el-input-number>
                     <span class="demonstration">(등록 수량)</span>
                 </div>
                 <div>
                     <div class="refrigerator-right6">
                         <span class="demonstration"></span>
                         <el-date-picker
                             v-model="value2"
                             type="date"
                             placeholder="등록 일자"
                             :picker-options="pickerOptions">
                         </el-date-picker>
                     </div>
                 </div>
             </div>
         </form>
     </div>
    </div>
    </div>
<div class="refrigerator-bottom-button">
    <el-button type="success">수정</el-button>
    <el-button type="primary">등록</el-button>
</div>
</div>
</template>
<script>
export default {
    data() {
        return {
            options: [{
                value: '삼성 SL-1',
                label: '삼성 SL-1'
            }, {
                value: 'LG전자 21-11',
                label: 'LG전자 21-11'
            }],
                value: '',
            num: 1,
            num1:1,
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: 'Today',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: 'Yesterday',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: 'A week ago',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value1: '',
            value2: '',
        };
    },
    methods: {
        handleChange(value) {
            console.log(value)
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'REFRIGERATOR_INPUT')
    }
}
</script>
