<template>
    <div class="recipe-wrap2">
        <div class="void2"></div>
        <div class="recipe-img-box-wrap">
            <div class="recipe-wrap2-title">{{ foodName }}
            </div>
            <div><el-rate
                v-model="value"
                disabled
                show-score
                text-color="#ff9900"
                score-template="{value} points">
            </el-rate>
            </div>
            <div class="recipe-img-box">
            <img :src="recipeImage">
            </div>
        </div>
        <div class="food-table">
            <div class="recipe-wrap2-title">재료</div>
            <template>
                <el-table
                    :data="list"
                    border
                    style="width: 100%">
                    <el-table-column
                        label="순서"
                        type="index"
                        width="100">
                    </el-table-column>
                    <el-table-column
                        prop="refrigeratorFood"
                        label="재료명">
                    </el-table-column>
                </el-table>
            </template>
        </div>
        <div class="recipe-table">
            <div class="recipe-wrap2-title">레시피 순서</div>
            <template>
                <el-table
                    :data="tableData"
                    style="width: 100%">
                    <el-table-column
                        label="순서"
                        type="index"
                        width="100">
                    </el-table-column>
                    <el-table-column
                        prop="recipe"
                        label="조리방법">
                    </el-table-column>
                </el-table>
            </template>
        </div>
        <div class="recipe-table">
            <div class="recipe-wrap2-title">댓글</div>
            <el-input
                type="textarea"
                :rows="2"
                placeholder="Please input"
                v-model="textarea">
            </el-input>
            <div class="comment-wrap">
                <div class="comment-content">
                    <div class="comment-member-id">
                        진수팤(작성 시간)
                    </div>
                    <div class="comment-recipe">
                        이거 진짜 꼭 만들어 보세요 진짜 맛있습니다.
                    </div>
                </div>
                <div class="comment-content">
                    <div class="comment-member-id">
                        진수팤(작성 시간)
                    </div>
                    <div class="comment-recipe">
                        이거 진짜 꼭 만들어 보세요 진짜 맛있습니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id,
            id2: params.id,
            id3: params.id
        }
    },
    data() {
        return {
            tableData: [],
            textarea: '',
            value: 3.7,
            foodName:'',
            recipeImage:'',
            list:[]
        }
    },
    methods: {
        getRecipeDetail() {
            this.$store.dispatch(this.$recipeConstants.GET_RECIPE_DETAIL,{id:this.id2})
                .then((res1) => {
                    console.log(111)
                    console.log(res1)
                    this.tableData = res1.data.list
                })
                .catch((err) => {
                    console.log(1111111111111)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
       async getRecipeName() {
           await this.$store.dispatch(this.$recipeConstants.GET_RECIPE_NAME,{id:this.id})
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.foodName = res.data.data.foodName
                    this.recipeImage = res.data.data.recipeImage
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
        async getRecipeFood() {
            await this.$store.dispatch(this.$recipeConstants.GET_RECIPE_FOOD,{id:this.id})
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.list = res.data.list
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
        checkPage(){
            console.log('check')
        },
    }, created() {
        this.getRecipeDetail()
        this.getRecipeName()
        this.getRecipeFood()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'RECIPE_DETAIL')
    }
}
</script>
