<template>
<div class="refrigerator-content-wrap">
    <div class="recipe-header"> 식재료 등록  </div>
    <div class="refrigerator-wrap1">
 <div class="left-image-box">
 <div class="refrigerator-image-box1">
     <div class="refrigerator-image-box2">
         <el-upload
             action="https://jsonplaceholder.typicode.com/posts/"
             list-type="picture-card"
             :on-preview="handlePictureCardPreview"
             :on-remove="handleRemove">
             <i class="el-icon-plus"></i>
         </el-upload>
         <el-dialog :visible.sync="dialogVisible">
             <img width="300%" :src="dialogImageUrl" alt="">
         </el-dialog>
     </div>
 </div>
     <p class="img-thumbnail-food2">사진을 등록하세요.</p>
    </div>
 <div class="refrigerator-right">
     <div class="refrigerator-right9">
         <form>
             <div class="date-how-many1">
                 <span class="food-name">식재료 명</span>
                 <div id="box1">
                     <input type="text" v-model="foodName" >
                 </div>
                <div class="refrigerator-right5">
                </div>
                 <div>
                     <span class="food-name">식재료 등록 일자</span>
                     <div class="refrigerator-right6">
                         <el-date-picker
                             v-model="value2"
                             type="date"
                             placeholder="등록 일자"
                             :picker-options="pickerOptions">
                         </el-date-picker>
                     </div>
                 </div>
             </div>
         </form>
     </div>
    </div>
    </div>
<div class="refrigerator-bottom-button">
    <el-button type="success" @click="setData">등록</el-button>
    <el-button type="primary" @click="setData">뒤로가기</el-button>
</div>
</div>
</template>
<script>

import data from "bootstrap/js/src/dom/data";

export default {
    data() {
        return {
            options: [],
                value: '',
            num: 1,
            foodName:'',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: 'Today',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: 'Yesterday',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: 'A week ago',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value2: '',
        };
    },
    methods: {
        handleChange(value) {
            console.log(value)
        },
        setData() {
            const payload = {
                data:{
                    refrigeratorFood: this.foodName,
                    dateRefrigeratorFood: new Date()
                }
            }
            console.log(payload)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$recipeConstants.DO_ADD_FOOD_RECIPE, payload)
                .then(res => {
                    console.log(res)
                    console.log(payload)
                    this.$toast.success("등록에 성공하였습니다.")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch(err => {
                    console.log(payload)
                    this.$toast.error("다시 입력하세요.")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'RECIPE_FOOD-INPUT')
    }
}
</script>
