
<template>
    <div id="member_list">
        <div id="member_list_h2">
            <h2> </h2>
        </div>
        <div class="search-bar-line-wrap">
        <div class="search-bar-wrap"
            :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))
            "style="width: 100%">
                <div class="icon"><i class="el-icon-search"></i></div>
                <div  class="search-bar">
            <el-input
                v-model="search"
                placeholder="회원 ID로 검색 "/> </div>
        </div>
            <div>
                <el-button>
                    <i class="el-icon-download"></i> 식재료 등록
                </el-button>
            </div>
        </div>
        <el-table id="member_list_list"
                  :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                  style="width: 100%">
            <el-table-column
                type="selection"
                width="150">
            </el-table-column>
            <el-table-column
                width="160"
                label="No."
                prop="id">
            </el-table-column>
            <el-table-column
                width="200"
                label="레시피명"
                prop="name">
            </el-table-column>
            <el-table-column
                width="230"
                label="등록 일자"
                prop="date">
            </el-table-column>
            <el-table-column
                width="200"
                label="별점"
                prop="linkSite">
            </el-table-column>
            <el-table-column
                width="350"
                label="댓글"
                prop="email">
            </el-table-column>
            <el-table-column
                align="right" >
                <template id="member_list_column_header" slot="header" slot-scope="scope">
                   전체 사용자 : 2310 명
                </template>
                <template slot-scope="scope">
                    <el-button id="member_list_button_edit"
                               @click="handleEdit(scope.$index, scope.row)">수정 하기</el-button>
                    <el-button id="member_list_button_delete"
                               type="danger"
                               @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="member-list-bottom-button">
            <div></div>
            <div>
                <el-pagination class="bottom-page-bar"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage1"
                    :page-size="10"
                    background
                    layout="prev, pager, next"
                    :total="1000">
                </el-pagination>
            </div>
            <div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tableData: [],
            search: '',
        }
    },
    methods: {
        handleEdit(index, row) {
            console.log(index, row);
        },
        handleDelete() {
            this.$confirm('정말 삭제하시겠습니까?', '경고', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: 'Delete completed'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled'
                });
            });
        },
        handleSizeChange(val) {
            console.log(`${val} items per page`);
        },
        handleCurrentChange(val) {
            console.log(`current page: ${val}`);
        }
       },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'RECIPE_DETAIL')
    }
}
</script>
