<template>
    <div class="refrigerator-content-wrap">
        <div class="disabled">   </div>
        <div class="recipe-header-title">레시피 등록</div>
        <div class="recipe-wrap">
            <div class="recipe-left-image-box">
                <div class="refrigerator-image-box">
                    <div class="refrigerator-image-box2">
                        <el-upload
                            action="https://jsonplaceholder.typicode.com/posts/"
                            list-type="picture-card"
                            :on-preview="handlePictureCardPreview"
                            :on-remove="handleRemove">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible">
                            <img width="200%" :src="dialogImageUrl" alt="">
                        </el-dialog>
                    </div>
                </div>
                <p class="img-thumbnail-food">사진을 등록하세요.</p>
            </div>
            <div class="recipe-right-wrap">
                <div class="recipe-right-title"><p class="recipe-title">레시피 이름</p></div>
                <div class="recipe-title1">
                    <input type="text" placeholder="레시피 이름">
                </div>
                <div class="recipe-right-wrap2">
                <div class="recipe-right">
                    <div class="recipe-title"><p>식재료 등록</p></div>
                <div id=app>
                    <div class="form-group" v-for="(input,k) in inputs" :key="k">
                        <div class="recipe-number1">{{k+1}}.</div>
                        <input type="text" class="form-control" v-model="input.party">
                        <span>
   <el-button class="fas fa-plus-circle" @click="add(k)" v-show="k == 0">
       <i class="el-icon-plus"></i></el-button>
   <el-button class="fas fa-minus-circle" @click="remove(k)" v-show="( !k && inputs.length > 1)">
       <i class="el-icon-minus"></i>
   </el-button>
    </span>
                    </div>
                </div>
                </div>
                <div class="recipe-right2">
                    <div class="recipe-title"><p>레시피 등록</p></div>
                    <div id=app2>
                        <div class="recipe-right2-num1">
                           <div class="recipe-number"> 1.</div> <div class="recipe-right2-num2">
                            <input type="text" class="form-control2"></div></div>
                        <div class="form-group" v-for="(input,k) in inputs2" :key="k">
                            <div class="recipe-number">{{k+2}}.</div>
                            <div class="recipe-control2-wrap">
                                <input type="text" class="form-control2" v-model="input.party">
                            </div>
                            <span>
   <el-button class="input-plus2" @click="add2(k)" v-show="k == 0">
      <i class="el-icon-plus"></i></el-button>
   <el-button class="input-remove2" @click="remove2(k)" v-show="( !k && inputs2.length > 1)">
          <i class="el-icon-minus"></i>
   </el-button>
    </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="refrigerator-bottom-button">
            <el-button type="success">수정</el-button>
            <el-button type="primary">등록</el-button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            inputs: [
                {
                    name: ""
                }
            ], inputs2: [
                {
                    recipe: ""
                }
            ]
        };
    },
    methods: {
        add(index) {
            this.inputs.push({ name: ""});
        },
        add2(index) {
            this.inputs2.push({ recipe: ""});
        },
        remove(index) {
            this.inputs.splice(index, 1);
        },
        remove2(index) {
            this.inputs2.splice(index, 1);
        },
        addCandidate() {
            axios
                .post("/candidates", this.inputs)
                .then(response => {})
                .catch(error => {});
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'RECIPE_ADD')
    }
};
</script>
