<template>
    <div>
        <div class="el-button-create">
            <div></div>
        <el-button> 등록 하기 </el-button>
        </div>
        <el-table
            :data="list"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="음식"
                width="330">
            </el-table-column>
            <el-table-column
                prop="refrigeratorFood"
                label="Date"
                width="330">
            </el-table-column>
            <el-table-column
                prop="dateRefrigeratorFood"
                label="Date"
                width="330">
            </el-table-column>
            <el-table-column
                label="Operations">
                <template slot-scope="scope">
                    <el-button
                        @click="moveDetail(scope.row.id)">수정 하기</el-button>
                    <el-button
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="block">
            <el-pagination
                @current-change="setPage"
                :current-page="pageNum"
                :page-size="5"
                layout="total, prev, pager, next"
                :total="totalCount">
            </el-pagination>
        </div>
    </div>

</template>
<script>


export default {
    middleware: 'anonymous',
    data() {
        return {
            list:[],
            detail:'',
            pageNum:1,
            totalCount: 0
        }
    },
    created() {
        this.checkPage()
        this.getList()
    },
    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        moveDetail(data) {
            let linkBaseUrl = '/recipe/food/'
            let linkBaseUrl2='/correction/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        getList() {
            this.$store.dispatch(this.$recipeConstants.GET_FOOD_RECIPE_LIST,{ pageNum: this.pageNum})
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.list = res.data.list
                    this.totalCount=res.data.totalCount
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
        checkPage(){
            console.log('check')
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'RECIPE_FOOD_LIST')
    }
}
</script>
