<template>
    <div class="refrigerator-content-wrap">
        <div class="disabled">   </div>
        <div class="refrigerator-wrap2">
            <div class="refrigerator-right">
                <div class="refrigerator-right1"><p>냉장고 모델</p></div>
                <div class="refrigerator-right2">
                    <el-select v-model="value" placeholder="Select">
                        <el-option
                            v-for="item in options"
                            :key="item.refrigeratorFood"
                            :label="item.label"
                            :value="item.refrigeratorName">
                        </el-option>
                    </el-select>
                </div>

                <div
                    v-for="(item, index) in list"
                    v-bind:key="index"
                    class="refrigerator-food-list-wrap">
                    <div class="img-box-food">
                    </div>
                <div class="refrigerator-right4">
                    <form>
                        <div id="box1">
                            <input
                                :placeholder="item.refrigeratorFood.refrigeratorFood"
                                type="text"
                            disabled>
                        </div>
                        <div class="date-how-many">
                            <div class="refrigerator-right5">
                                <el-input-number
                                    disabled=""
                                    v-model="num"
                                    @change="handleChange" :min="1" :max="15">
                                </el-input-number>
                                <span class="demonstration">(등록 수량)</span>
                            </div>
                            <div>
                                <div class="refrigerator-right6">
                                    <el-date-picker
                                        disabled=""
                                        v-model="item.refrigeratorFood.dateRefrigeratorFood"
                                        type="date"
                                        placeholder="등록 일자"
                                        :picker-options="pickerOptions">
                                    </el-date-picker>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>

            </div>
        </div>
        <div class="refrigerator-bottom-button">
            <el-button @click="moveDetail(id)" type="success">수정 하기</el-button>
            <el-button @click="moveList" type="primary">뒤로 가기</el-button>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id:this.id,
            options: [],
            list:[],
            value: '',
            num: 1,
            num2:1,
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: 'Today',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: 'Yesterday',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: 'A week ago',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value1: '',
            value2: '',
        };
    },
    methods: {
        moveDetail(data) {
            let linkBaseUrl = '/refrigerator/input/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        moveList() {
            let linkBaseUrl = '/member/list/'
            this.$router.push(`${linkBaseUrl}`)
        },
    getList() {
        this.$store.dispatch(this.$refrigeratorConstants.GET_REFRIGERATOR_LIST)
            .then((res) => {
                console.log(res)
                console.log(res.data.list.refrigeratorFood)
                this.list = res.data.list
                this.options = res.data.list

            })
            .catch((err) => {
                console.log(111111111)
                this.$toast.error(err.response.data.msg)
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
            })
    }
    },
    created() {
      this.getList()
    }, mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'REFRIGERATOR_LIST')
    }
}
</script>
