<template>
    <div class="member-detail-wrap">
        <div class="member-detail-header"> <div>회원 상세보기</div></div>
        <div class="member-detail-content-wrap">
            <div class="member-detail-content">
                <div class="member-detail-icon">
                    <div class="block"><el-avatar shape="square" :size="150" :src="squareUrl"></el-avatar>
                    </div>
                </div>
                <div class="member-detail-content-center" v-if="info !=null"
                >
                    <el-row :gutter="20" class="member-detail-content-center2">
                        <el-col :span="8"><div class="member-detail-content-left">
                            <p>이 름</p>
                        </div></el-col>
                        <el-col :span="12"><div class="member-detail-content-right">
                            {{info.memberName}}
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="24" class="member-detail-content-center2">
                        <el-col :span="8"><div class="member-detail-content-left">
                            <p>회원 아이디</p>
                        </div></el-col>
                        <el-col :span="12"><div class="member-detail-content-right">
                            {{info.memberId}}
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="24" class="member-detail-content-center2">
                        <el-col :span="8"><div class="member-detail-content-left">
                            <p>비밀 번호</p>
                        </div></el-col>
                        <el-col :span="12"><div class="member-detail-content-right">
                            {{info.password}}
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="24" class="member-detail-content-center2">
                        <el-col :span="8"><div class="member-detail-content-left">
                            <p>이메일 주소</p>
                        </div></el-col>
                        <el-col :span="12"><div class="member-detail-content-right">
                            {{info.mail}}
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="24" class="member-detail-content-center2">
                        <el-col :span="8"><div class="member-detail-content-left">
                            <p>휴대 전화</p>
                        </div></el-col>
                        <el-col :span="12"><div class="member-detail-content-right">
                            {{info.phoneNumber}}
                        </div></el-col>
                    </el-row>
                    <el-row :gutter="24" class="member-detail-content-center2">
                        <el-col :span="8"><div class="member-detail-content-left">
                            <p>가입 일자</p>
                        </div></el-col>
                        <el-col :span="12"><div class="member-detail-content-right">
                            {{info.dateJoin}}
                        </div></el-col>
                    </el-row>
                    <div id="buttons2">
                        <div id="submit_button"> <el-button type="primary" @click="moveDetail(id)">수정 하기</el-button></div>
                        <div id="back_button"><el-button @click="moveList">뒤로 가기</el-button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import data from "bootstrap/js/src/dom/data";

export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data () {
        return {
            squareUrl: "https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png",
            info:{
                memberName:'',
                memberId:'',
                interlockInfo:'',
                password:'',
                phoneNumber:'',
                mail:'',
                dateJoin:'',
                isOut:'',
                dateOut:''
            },
            id:this.id

        };
    },
    created() {
        this.getDetail()
    }, methods: {
        moveList() {
            let linkBaseUrl = '/member/list/'
            this.$router.push(`${linkBaseUrl}`)
        },
        moveDetail(data) {
            let linkBaseUrl = '/member/detail-correction/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        getDetail() {
            this.$store.dispatch(this.$memberConstants.GET_MEMBER_DETAIL,{id:this.id})
                .then((res) => {
                    console.log(123)
                    console.log(res.data.data)
                    this.info = res.data.data
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
    },  mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_DETAIL')
    }
}
</script>
