div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 420px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}

/*대쉬보드*/
div.dashboard-body{
    margin: 30px auto 0 auto;
    width: 1600px!important;
    height: 1000px;
}



div.dashboard-header{
    width: 1600px;
    height: 100px;
}

.dashboard-header{
    display: flex;
}



.dashboard-header-content{
    border: whitesmoke 2px solid;
    background: whitesmoke;
    border-radius: 5px;
    margin: 5px;
    width: 465px;
    height: 90px;
}

.dashboard-header-member{
}

.dashboard-header-member-detail{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 5px;

}

.dashboard-header-member-detail p{
    font-size: 14px;
}

.dashboard-header-number1{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #2980b9;
    display: flex;
    gap: 55px;
    justify-content: center;

}

.dashboard-header-number2{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #e74c3c;
    display: flex;
    gap: 65px;
    justify-content: center;

}

.dashboard-header-number3{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    color: #2ecc71;
    display: flex;
    gap: 80px;
    justify-content: center;

}

.dashboard-header-detail-num{
    border-radius: 5px;
    width: 85px;
    height: 35px;
    text-align: center;
}


.dashboard-content{
    display: flex;
    width: 1600px;
    height: 700px;
}

.dashboard-content-left{
    width: 660px;
    height: 500px;
}

.dashboard-content2{
    display: flex;
    width: 770px;
    height: 310px;
}


.dashboard-content-text{
    background: whitesmoke;
    width: 650px;
    height: 400px;
    margin: 5px;
    border: whitesmoke 2px solid;
}

.dashboard-content-text-title{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 16px;
}


.dashboard-content-graph{
    background: whitesmoke;
    width: 320px;
    height: 340px;
    margin: 5px;
    border: whitesmoke 2px solid;
}

ul,li{
    list-style:none;
}

.blind{
    position:absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    overflow:hidden;
}
.vertical_chart_box{
    margin-top: 20px;
    position:relative;
    .chart_box{
        position:relative;
        margin-bottom:45px;
        padding-left:20px;
        box-sizing:border-box;
        height:200px;
    }
    .axis_y{
        display:-webkit-flex;
        display:-ms-flex;
        display:-o-flex;
        display:flex;
        flex-direction:column-reverse;
        align-items:center;
        justify-content:space-between;
        position:absolute;
        top:0;
        left:0;
        margin:0;
        padding:0;
        width:20px;
        height:100%;
        font-size:12px;
        color:#4a4a4a;
        &:before{
            content:'';
            position:absolute;
            top:5px;
            bottom:0;
            right:0;
            width:1px;
            background:#d3d3d3;
        }
    }
    .axis_x{
        display:-webkit-flex;
        display:-ms-flex;
        display:-o-flex;
        display:flex;
        justify-content:center;
        position:relative;
        padding:0;
        box-sizing:border-box;
        height:100%;
        border-bottom:1px solid #d3d3d3;
        .item{
            flex:1;
            position:relative;
            .text_box{
                position:absolute;
                bottom:-50px;
                left:50%;
                text-align:center;
                -webkit-transform:translate(-50%,0);
                -ms-transform:translate(-50%,0);
                -o-transform:translate(-50%,0);
                transform:translate(-50%,0);
                .day{
                    display:block;
                    font-size:12px;
                    line-height:19px;
                    color:#4a4a4a;
                    &.sat{
                        color:#3475ed;
                    }
                    &.sun{
                        color:#eb474a;
                    }
                }
                .time{
                    display:block;
                    margin-top:3px;
                    font-size:12px;
                    color:#999;
                }
            }
        }
        .graph{
            display:-webkit-flex;
            display:-ms-flex;
            display:-o-flex;
            display:flex;
            flex-direction:column-reverse;
            position:relative;
            margin:0 auto;
            padding:0;
            width:35px;
            height:100%;
            background:#e8e8e8;
            border-radius:3px 3px 0 0;
            overflow:hidden;
            .time{
                display:block;
                position:relative;
                margin-bottom:-4px;
                padding-top:4px;
                box-sizing:content-box;
                width:100%;
                border-radius:3px 3px 0 0;
                &.data1{
                    background: #18ffb1;
                    z-index:3;
                }
                &.data2{
                    background: #18ffb1;
                    z-index:2;
                }
                &.data3{
                    background: #18ffb1;
                    z-index:1;
                }
            }
        }
        .button.graph{
            border:0;
        }
    }
}

.dashboard-content-right{
    margin: 5px 5px 5px 0px;
    background: whitesmoke;
    width: 760px;
    height: 750px;
    border: whitesmoke 2px solid;
}

.dashboard-content-right-title1{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.dashboard-content-right-title1-time{
    margin: 30px 10px 5px 15px;
}
.dashboard-content-right-title1-time a{
    color: #333333;
    text-decoration: underline;
}

/** 회원 리스트**/



#member_list_h2{
    font-size: 30px;
    border: 1px ;
    margin-bottom: 5px;
}

.search-bar-line-wrap{
    display: flex;
    justify-content: space-between;
}

.search-bar-wrap{
    width: 410px!important;
    height: 35px;
    display: flex;
    background: white;
    align-content: center;
    vertical-align: center;
    margin-bottom: 10px;
    border-radius: 3px;
    border: #f8f8f8 1px solid;
}

.icon{
    margin-top: 10px;
    width: 20px;
    margin-left: 5px;
}


.search-bar{
    width: 400px;
    margin-bottom: 5px;
}



.member-list-bottom-button{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

member_list_button_delete{
background: #f9f9f9!important;
height: 35px!important;
color: #333333!important;
border: grey 1px solid!important;
-webkit-border-radius: 3px 3px 3px 3px!important;
border-radius: 3px 3px 3px 3px!important;
}

/*상세보기*/

.member-detail-header{
    font-size: 24px;
    font-weight: 500;
    height: 60px;
    width: 80%;
    background: #f9f9f9;
    line-height: revert;
    margin: 0 auto;
}

.member-detail-header > div{
 padding-top: 15px;
 padding-left: 10px;

}

.member-detail-content-wrap{
    width: 80%;
    height: 600px;
    background: #f9f9f9;
    margin: 30px auto 0 auto;
}

.member-detail-content{
    display: flex;
    width: 80%;
    margin-left: 100px;
    padding-top: 50px;
}

.member-detail-icon{
    margin-top: 50px;
}

.member-detail-content-center{
    width: 600px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}


.member-detail-content-center2{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}

.member-detail-content-left{
    width: 200px;
    margin: 10px;
    font-size: 24px;
}

.member-detail-content-left2{
    width: 200px;
    margin: 10px;
    font-size: 18px;
}

.member-detail-content-left p{
    padding: 3px;
    margin-left: 30px;
}


.member-detail-content-right{
    margin: 10px;
    width: 300px;
    font-size: 18px;
    -webkit-box-shadow:inset 0.2px 0.2px 0.1px 0.1px #ABABAB;
    box-shadow:inset 0.2px 0.2px 0.2px 0.1px #ABABAB;
    border: black 1px solid;
    border-radius: 2px;
    height: 28px;
    text-indent: 5px;
    line-height: 30px;
}

.member-detail-content-right2{
    font-size: 20px;

}
.member-detail-content-right p{
    padding: 3px;
}

/*member 수정*/

.member-detail-wrap{
    height: 800px;
}

.member-detail-content-wrap-correction{
        width: 80%;
        height: 100%;
        background: white;
        margin: 0 auto 0 auto;
}

.member-detail-icon-correction{
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

.member-detail-correction:focus{
    outline: none;
}

.member-detail-correction::placeholder{
    font-size: 14px;
}

.member-detail-content-center-correction{
    margin: 0 auto;
    width: 350px;
    align-content: center;
}
.member-detail-content-correction-right{
    align-content: center;
    border-bottom: 1px solid black;
    width: 400px;
}

.member-detail-icon-correction-button{
    width: 75px;
    margin: 0 auto;
}

.member-detail-correction-radio-box{
    margin-top:10px ;
    display: flex;
}

.member-detail-correction{
    margin: 10px;
    font-size: 24px;
    border: none;
    border-radius: 2px;
    height: 28px;
    width: 266px;
}

.header-correction{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-correction-button{
    margin-top: 10px;
    margin-right: 10px;
}

/*질문 게시판 관리*/

.question-wrap{
    width: 90%;
    height: 90%;
    font-size: 16px;
    margin: 0 auto;
 background-color: #f9f9f9;
    padding-bottom: 65px;
}

.header-question{
    display: flex;
    justify-content: space-between;
    height: 50px;
    text-align: center;

}

.header-question-wrap{
    border-top: solid 1px #b9b9b9;
    display: flex;
}

.left-header-no{
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100px;
    height: 100%;
    margin-right: 10px;
    margin-left: 20px;
    padding-right: 17px;
    border-right: 1px solid  #b9b9b9;
}

.left-header-no p{}

.header-question p{
    margin-bottom: 10px;
    margin-left: 20px;
}

.right-header-status{
    width: 1100px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.header-question div{
    background-color: #f9f9f9;
}

.header-question-left{
    width: 100px;
    height: 66px;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid  #b9b9b9;
}

.header-question-left p{
    margin-top: 25px;
}

.header-question-right input{
    width: 950px;
    padding: -5px;
    height: 48px;
    margin: 10px;
    line-height: 48px;
}


.header-question-right p{
    width: 950px;
    padding: -5px;
    height: 48px;
    margin: 10px;
    line-height: 48px;
}

.header-question-right input::placeholder{
    color: black;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 3px;
}

.content-question{
    display: flex;
    border-top: solid 1px  #b9b9b9 ;
    border-bottom: solid 1px  #b9b9b9 ;
}

.content-question-left{
    align-content: center;
    width: 100px;
    border-right: 1px solid  #b9b9b9;
    padding-top:10px ;
    margin-left: 20px;
    margin-right: 5px;
}

.content-question-right textarea{
    resize: none;
    width: 950px;
    height: 400px;
    margin: 10px;
}
.content-question-right textarea::placeholder{
    color: black;
    font-size: 16px;
   padding-left:5px;
}

.question-bottom-button{
    margin-right: 25px;
    margin-top: 7px;
    display: flex;
    gap: 20px;
}

.question-bottom-button .el-button{
    height: 60px;
    width: 100px;
}

.question-bottom-button-wrap{
    display: flex;
    justify-content: space-between;
}

.table-wrap{
    background: white;
    padding-bottom: 20px;
}

/* 답변 항목 */

.content-question2{
    display: flex;
    border-top: solid 1px  #b9b9b9 ;
    border-bottom: solid 1px  #b9b9b9 ;
}

.content-question-left2{
    align-content: center;
    width: 100px;
    border-right: 1px solid  #b9b9b9;
    padding-top:10px ;
    margin-left: 20px;
    margin-right: 5px;
}

.content-question-right2 textarea{
    resize: none;
    width: 950px;
    height: 220px;
    margin: 10px;
    font-size: 16px;
}
.content-question-right2 textarea::placeholder{
    color: black;
    font-size: 16px;
    padding-left:5px;
}

.question-bottom-button{
    margin-right: 25px;
    margin-top: 7px;
    display: flex;
    gap: 20px;
}

.question-bottom-button .el-button{
    height: 60px;
    width: 100px;
}

.question-bottom-button-wrap{
    display: flex;
    justify-content: space-between;
}

.header-question-wrap2{
    display: flex;
}

/*냉장고 재료 등록*/
div .refrigerator-content-wrap{
    background: white;

    width: 90%;
    height: 800px;
}

.refrigerator-wrap{
    width: 90%;
    margin:100px auto;
    display: flex;
    justify-content: space-around;
    height: 500px;
    border: 1px solid #333333;
    padding-top: 30px;
}

.refrigerator-wrap p{
    font-size: 18px;
    font-weight: bold;
}

.disabled{
    height: 20px;
}


.left-image-box{
    margin-top: 60px;
    margin-left: 140px;
}

div .refrigerator-image-box{
    margin-top: 55px;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    padding-top: 26px;
    padding-left: 25px;
}

.refrigerator-image-box div{
    margin-top: 35px;
    margin-left: 25px;
}

.refrigerator-image-box2 div{
    margin-top: 25px;
    margin-left: 25px;
}

div .refrigerator-image-box1{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    padding-top: 26px;
    padding-left: 25px;
}


.date-how-many{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.refrigerator-right{
    margin-right: 100px;
}


.refrigerator-right1{
    margin-bottom: 20px;
}

.refrigerator-right3{
    margin: 20px 0 5px 0;
}

.refrigerator-right4{
    margin-bottom: 20px;
}

.refrigerator-right4 input{
    height: 35px;
}

.img-thumbnail-food{
    margin-top: 15px;
    margin-left: 100px;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
}

.img-thumbnail-food2{
    margin-top: 15px;
    margin-left: 85px;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
}

.refrigerator-bottom-button{
    width: 100px;
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.refrigerator-bottom-button button{
    height: 40px!important;
    padding: 10px!important;
    font-size: 16px!important;
    width: 200px!important;
}

/*냉장고 리스트*/

.refrigerator-food-list-wrap{
    display: flex;
    gap:30px;
    margin-top: 60px;
}


.img-box-food{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.refrigerator-wrap2{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

/*레시피 음식 등록*/

.food-name{
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}


.refrigerator-right9{
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

#box1{
    margin-bottom: 60px;
    margin-top: 5px;
}

.refrigerator-right6{
    margin-top: 5px;
}

.refrigerator-right9 input{
    height: 35px;
    width: 350px;
    font-size: 16px;
}


.refrigerator-wrap1{
    gap: 140px;
    display: flex;
    margin: 5px auto;
    height: 350px;
    width: 80%;
}

.recipe-right2{
    margin-top: 20px
}
.form-group{
    display: flex;
}

.form-group input{
    margin-right: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 200px;
}

.recipe-right-wrap2{
    display: flex;
    gap: 20px;
}

/*레시피*/

.recipe-header-title{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
}

.recipe-header{
   padding-top: 100px;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
}

.recipe-number{
    margin-top: 10px;
    margin-right: 3px;
    width: 20px;
    height: 35px;
    line-height: 45px;
}
.recipe-number1{
    margin-top: 10px;
    margin-right: 3px;
    width: 20px;
    height: 35px;
    line-height: 10px;
}

.recipe-title{
    margin-bottom: 5px;
}

.recipe-title1{
    width: 800px;
    margin-left: 22px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.input-plus2{
    margin-left: 10px;
    margin-top: 7px;
}

.recipe-title1 input{
    height: 35px;
    border: none;
    width: 400px;
}

.recipe-right-wrap{
    margin-top: 50px;
    margin-right: 50px;
}

.recipe-wrap{
    margin: 5px auto;
    display: flex;
    gap: 100px;
    width: 90%;
    height: 600px;
}

.recipe-left-image-box{
    margin-left: 80px;
}

.recipe-title{
    font-size: 18px;
}

.form-control2{
    margin-left: 5px;
    height: 35px;
    border: none;
    width: 350px!important;
}

.recipe-control2-wrap{
    border-bottom: 1px solid black;
    height: 40px;
}

.recipe-right2-num1{
    display: flex;
    margin-bottom: 5px;
    width: 360px;
}

.recipe-right2-num2{
    border-bottom: 1px solid black;
    margin-left: 5px;
    height: 40px;
}

#app{
    width: 350px;
    height: 400px;
    overflow: auto;
}

#app2{
    width: 500px;
    height: 400px;
    overflow: auto;
}

.recipe-right-title{
    width: 500px;
}


/*레시피 상세보기*/
.recipe-wrap2{
    width: 90%;
    margin: 30px auto;
}

.recipe-wrap2-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 5px;
}

.recipe-img-box-wrap{
    width: 1200px;
    margin: 20px auto;
    background: #f9f9f9;
    padding: 30px 10px;
}

.recipe-img-box{
    width: 800px;
    margin: 20px auto;
    align-content: center;
    align-items: center;
    padding: 0 0 30px 0;
}

.recipe-img-box img{
    width: 800px;
    height: 500px;
}

.food-table{
    width: 1200px;
    margin: 30px auto;
    background: #f9f9f9;
    padding: 30px 10px;
}

.recipe-table{
    width: 1200px;
    margin: 30px auto;
    background: #f9f9f9;
    padding: 30px 10px;
}

.comment-wrap{
    border-top: #e8e8e8;
}

.comment-wrap div{
    margin: 10px 0;
}

.comment-content{
  background-color: white;
    border-bottom: 1px solid #c3c1c1;
}

.comment-member-id{
    padding-bottom: 5px;
}


/*광고 정보*/



.input-wrap{
    height: 58px!important;
    border: none!important;
}



.commercial-wrap input:focus{
    outline: none;
}

.commercial-header{
    border: none!important;
    margin-bottom: 10px;
}

.commercial-title{
    text-align: center;
    width: 10%;
    background-color: #eceaea !important;
}

.commercial-title-right{
    width: 40%;
}

.commercial-title-left2{
    text-align: center;
    width: 20%;
    background-color: #eceaea !important;
}

.commercial-title-right2{
    width: 80%;
}

.commercial-title2{
    text-align: center;
    background-color: #eceaea !important;
    height: 450px!important;
    margin-left: 0;
    width: 20%;
}

.commercial-title2-2{
    height: 450px!important;
    width: 80%;
}

.commercial-title2-2 textarea{
    height: 100%;
    width: 98%;
    font-size: 20px;
    border: none;
    resize: none;
}
.commercial-title2-2 textarea:focus{
    outline: none;
}

.commercial-wrap-row{
    display: flex;
    border: none!important;
}

/**/
.commercial-wrap-row2{
    display: flex;
    width: 95%;
    margin: 0 auto;
}


.commercial2-wrap{
    width: 90%;
    height: 800px;
    background: white;
    margin: 0 auto;
}

.commercial-header1{
    width: 60%;
    height: 80px;
    margin: 0 5%;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

.commercial2-wrap-content{
    width: 90%;
    height: 750px!important;
    margin: 0 auto;
    border: #333333 1px solid;
}


.commercial2-header{
    width: 60%;
    margin-left: 3%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
}


.commercial2-wrap div{
    height: 50px;
}



.commercial2-wrap-left{
    width: 20%;
    border: solid 1px #c3c3c3;
    background-color: #eceaea !important;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;
}

.commercial2-wrap-right{
    width: 80%;
    border: solid 1px #c3c3c3;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.commercial2-wrap-right div{
    width: 100%;
    border: none!important;
}

.commercial2-wrap-right input{
    height: 48px;
    line-height: 100px;
    font-size: 20px;
    border: none;
    width: 95%;
    margin-top: 10px;
    background: none;
}

.text-input-wrap input{
    margin-top: 5px;
    margin-left: 12px;
}



.commercial2-wrap-right input:focus{
   outline: none;
}

.commercial2-wrap-left2{
    width: 20%;
    height: 200px!important;
    border: solid 1px #c3c3c3;
    background-color: #eceaea !important;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 200px;
}

.commercial2-wrap-right2{
    width: 80%!important;
    height: 200px!important;
    border: solid 1px #c3c3c3;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.commercial2-wrap-right2 textarea{
    width: 95%;
    height: 190px;
    font-size: 18px;
    border: none;
    resize: none!important;
    margin-left: 12px;
    margin-top: 5px;
}

.commercial2-wrap-right2 textarea:focus{
    outline: none;
    resize: none!important;
}

.commercial2-bottom-button{
    height: 60px;
    width: 300px;
    margin: 20% 48% ;
    align-content: center;
}

.el-button-create{
    display: flex;
    padding-bottom: 10px;
}
