div.sq-error-frame {
    height: 100vh;
    background-color: #f9f9f9;
}
div.sq-error-frame div.contents {
    padding-top: calc(50vh - 110px);
}


div.sq-login-frame {
    height: 100vh;
    background-color: #f9f9f9;
}

div.refg-default-frame > div.refg-menu-wrap {
    width: 230px;
    height: 100vh;
    overflow-y: scroll;
    background-color: #404040;
    float: left;
}
div.refg-default-frame > div.refg-menu-wrap div.in-logo {
    font-size: 20px;
    padding: 15px 0 15px 38px;
    border-bottom: #b2b2b2 1px solid;
}
div.refg-default-frame > div.refg-menu-wrap div.in-logo img {
    width: 170px;
    height: 40px;
}

div.refg-default-frame > div.refg-menu-wrap div.in-menu {
    padding: 0;
    color: #e0e0e0;
    font-weight: 600;
}

div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box {
    padding-bottom: 20px;
}
div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box div.depth1-title {
    padding-bottom: 5px;
}
div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box div.depth1-title i {
    font-size: 1.3em;
    vertical-align: middle;
}
div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box div.depth1-title span {
    float: right;
}
div.refg-default-frame > div.refg-menu-wrap div.in-menu li.depth1-box div.depth1-title span i {
    font-size: 0.8rem;
}
div.refg-default-frame > div.refg-menu-wrap div.in-menu  li.depth1-box div.depth2-box {
    padding-left: 22px;
}
div.refg-default-frame > div.refg-menu-wrap div.in-menu  li.depth1-box div.depth2-box li {
    line-height: 1.8;
}


div.refg-default-frame > div.refg-contents-wrap {
    width: calc(100% - 230px);
    height: 100vh;
    overflow-y: scroll;
    float: left;
}

div.refg-default-frame > div.refg-contents-wrap div.in-bread {
    background-color: #ffffff;
    height: 70px;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0 0 20px;
    border-bottom: 1px solid black;
    padding-top: 25px;
}
div.refg-default-frame > div.refg-contents-wrap div.in-bread span {
    vertical-align: middle;
}
div.refg-default-frame > div.refg-contents-wrap div.in-contents {
    padding: 5px;
}


*{
    box-sizing: border-box;
}

.que:first-child{
    border-top: 1px solid black;
}

.que{
    position: relative;
    padding: 17px 0;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;

}

.que::before{
    display: inline-block;
    content: 'Q';
    font-size: 14px;
    color: #006633;
    margin: 0 5px;
}

.que.on>span{
    font-weight: bold;
    color: #006633;
}

.anw {
    display: none;
    overflow: hidden;
    font-size: 14px;
    background-color: #f4f4f2;
    padding: 27px 0;
}

.anw::before {
    display: inline-block;
    content: 'A';
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 0 5px;
}

.arrow-wrap {
    position: absolute;
    top:50%; right: 10px;
    transform: translate(0, -50%);
}

.que .arrow-top {
    display: none;
}
.que .arrow-bottom {
    display: block;
}
.que.on .arrow-bottom {
    display: none;
}
.que.on .arrow-top {
    display: block;
}

.sq-login-box{
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.el-button--primary{
    background-color: #21610b;
}
