
<template>
    <div id="member_list">
        <div id="member_list_h2">
            <h2> </h2>
        </div>
        <div class="search-bar-line-wrap">
        <div class="search-bar-wrap"
            :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))
            "style="width: 100%">
                <div class="icon"><i class="el-icon-search"></i></div>
                <div  class="search-bar">
            <el-input
                v-model="search"
                placeholder="업체명으로 검색"/> </div>
        </div>
            <div>
                <el-button
                    @click="moveCreate"
                >
                    <i class="el-icon-download"></i> 광고 등록
                </el-button>
            </div>
        </div>
        <el-table id="member_list_list"
                  :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                  style="width: 100%">
            <el-table-column
                type="selection"
                width="55">
            </el-table-column>
            <el-table-column
                width="60"
                label="No."
                prop="id">
            </el-table-column>
            <el-table-column
                width="200"
                label="계약 업체명"
                prop="advertisinompany">
            </el-table-column>
            <el-table-column
                width="200"
                label="결제 방법"
                prop="paymentType">
            </el-table-column>
            <el-table-column
                width="200"
                label="결제 금액"
                prop="paymentAmount">
            </el-table-column>
            <el-table-column
                width="200"
                label="결제 일자"
                prop="datePayment">
            </el-table-column>
            <el-table-column
                width="200"
                label="계약 시작일"
                prop="contractStartDate">
            </el-table-column>
            <el-table-column
                width="200"
                label="계약 종료일"
                prop="endDateOfContract">
            </el-table-column>
            <el-table-column
                align="right" >
                <template id="member_list_column_header" slot="header" slot-scope="scope">
                   관리
                </template>
                <template slot-scope="scope">
                    <el-button id="member_list_button_edit"
                               @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    <el-button id="member_list_button_delete"
                               type="danger"
                               @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="member-list-bottom-button">
            <div></div>
            <div>
                <el-pagination class="bottom-page-bar"
                    @current-change="setPage"
                    :current-page="pageNum"
                    :page-size="5"
                    layout="prev, pager, next"
                    :total="totalCount">
                </el-pagination>
            </div>
            <div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tableData: [],
            search: '',
            pageNum: 1,
            totalCount: 0,
        }
    },
    methods: {
        moveCreate(){
            this.$router.push('/commercial/registration')
        },
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        handleEdit(index, row) {
            console.log(index, row);
        },
        handleDelete() {
            this.$confirm('정말 삭제하시겠습니까?', '경고', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: 'Delete completed'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled'
                });
            });
        },
        handleSizeChange(val) {
            console.log(`${val} items per page`);
        },
        handleCurrentChange(val) {
            console.log(`current page: ${val}`);
        },
        getList() {
            this.$store.dispatch(this.commercialConstants.GET_COMMERCIAL_LIST,{pageNum:this.pageNum})
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.tableData = res.data.list
                    this.totalCount = res.data.totalCount
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        }
    },  mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COMMERCIAL_LIST')
    } ,created() {
        this.getList()
    }
}
</script>
