<template>
    <div class="commercial2-wrap">
        <div class="commercial-header1"> 광고 정보 등록</div>
        <div class="commercial2-wrap-content">
            <div class="commercial2-header">
                <p>업체 정보</p>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">업체명</div>
                <div class="commercial2-wrap-right">
                    <el-select v-model="valueA" placeholder="Select">
                        <el-option
                            v-for="item in options1"
                            :key="item.valueA"
                            :label="item.labelA"
                            :value="item.valueA">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="commercial2-header">
                <p>결제 정보</p>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">결제 금액</div>
                <div class="commercial2-wrap-right">
                    <div class="text-input-wrap">
                        <input
                            v-model="paymentAmount"
                            class="input-text" type="text"></div>
                </div>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">결제 방법</div>
                <div class="commercial2-wrap-right">
                    <el-select v-model="value" placeholder="Select">
                        <el-option
                            v-for="item in options2"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">결제일</div>
                <div class="commercial2-wrap-right">
                        <el-date-picker
                            v-model="value1"
                            type="date"
                            placeholder="Pick a day">
                        </el-date-picker>
                </div>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">계약 시작일</div>
                <div class="commercial2-wrap-right">
                    <div class="commercial2-wrap-right">
                        <el-date-picker
                            v-model="value2"
                            type="date"
                            placeholder="Pick a day">
                        </el-date-picker>
                    </div>
                </div>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">계약 종료일</div>
                <div class="commercial2-wrap-right">
                    <div class="commercial2-wrap-right">
                        <el-date-picker
                            v-model="value3"
                            type="date"
                            placeholder="Pick a day">
                        </el-date-picker>
                    </div>
                </div>
            </div>
            <div class="commercial2-header">
                 <p>추가 사항</p>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left2">요청 사항</div>
                <div class="commercial2-wrap-right2">
                    <textarea
                        v-model="requested"
                    >

                    </textarea>
                </div>
            </div>
            <div class="commercial2-bottom-button">
                <el-button  type="primary" @click="setData()">등록 하기</el-button>
                <el-button type="info" plain>뒤로 가기</el-button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            isExpiration:Boolean,
            paymentAmount:0,
            requested:'',
            options1: [{
                valueA: 'COUPANG',
                labelA: 'COUPANG'
            }, {
                valueA: 'GOOGLE',
                labelA: 'GOOGLE'
            },{
                valueA: 'NAVER',
                labelA: 'NAVER'
            }],
            options2: [{
                value: 'CARD',
                label: 'CARD'
            }, {
                value: 'CASH',
                label: 'CASH'
            }],
            valueA: '',
            value:'',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: 'Today',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: 'Yesterday',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: 'A week ago',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value1: '',
            value2: '',
            value3: '',
        };
    },
    methods:{
    setData(){
        let payload = {
            data:{
                advertisinompany: this.valueA,
                paymentType: this.value,
                paymentAmount: this.paymentAmount,
                datePayment: this.value1,
                contractStartDate: this.value2,
                endDateOfContract:this.value3,
                isExpiration: this.isExpiration,
                requested:this.requested
            }
        }
        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
        this.$store.dispatch(this.commercialConstants.DO_CREATE_COMMERCIAL, payload)
            .then(res => {
                console.log(res)
                this.$toast.success("등록에 성공하였습니다.")
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                this.$router.replace('/commercial/list')
            })
            .catch(err => {
                console.log(123123213213123)
                console.log(payload.data)
                this.$toast.error("다시 입력하세요.")
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
            })
    }}
};

</script>
