<template>
    <div class="question-wrap">
        <div class="header-question">
            <div class="left-header-no"><p>no.1</p></div>
            <div class="right-header-status">
                <div>작성자 : {{memberId}}</div>
                <p>답변 상태 : {{answerStatus}}</p></div>
        </div>
        <div class="header-question-wrap">
            <div class="header-question-left">
                <p>문의 제목</p>
            </div>
            <div class="header-question-right">
                <input :placeholder="title"
                       disabled>
            </div>
        </div>
        <div class="content-question2">
            <div class="content-question-left2">
               <p>문의 내용</p>
            </div>
            <div class="content-question-right2">
                 <textarea
                     style=""
                     :placeholder="questionContents"
                     disabled
                 ></textarea>
            </div>
        </div>
        <div class="header-question-wrap2">
            <div class="header-question-left">
                <p>답변 제목</p>
            </div>
            <div class="header-question-right">
               <p>RE:{{title}}</p>
            </div>
        </div>
        <div class="content-question2">
            <div class="content-question-left2">
                <p>답변 내용</p>
            </div>
            <div class="content-question-right2">
                <textarea
                    v-model="answer"
                ></textarea>
            </div>
        </div>
        <div class="question-bottom-button-wrap">
            <div></div>
            <div class="question-bottom-button">
                <el-button
                    @click="setData()"
                    type="submit">답변 등록</el-button>
                <el-button type="info">뒤로 가기</el-button>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    middleware: 'anonymous',
    data() {
        return {
            memberId:'',
            search:'',
            title:'',
            questionContents:'',
            answerStatusName:'',
            dateWrite:'',
            id2:'',
            answer:'',
            answerStatus:''
        }
    },
    created() {
        this.checkPage()
        this.getList()
    },
    methods: {
        moveDetail(data) {
            let linkBaseUrl = '/question/detail/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        getList() {
            this.$store.dispatch(this.$questionConstants.GET_QUESTION_DETAIL,{id:this.id})
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.list = res.data.list
                    this.id2 = res.data.id
                    this.memberId = res.data.data.memberEntityId.memberId,
                        this.title = res.data.data.title,
                        this.questionContents = res.data.data.questionContents,
                        this.dateWrite = res.data.data.dateWrite
                        this.answerStatus = res.data.data.answerStatusName
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
        setData() {
            let payload = {
                id:this.id,
                data:{
                    answer:this.answer,
                    answerTitle:this.title
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$questionConstants.DO_ANSWER , payload)
                .then(res => {
                    console.log(res)
                    console.log(payload.data)
                    this.$toast.success("등록에 성공하였습니다.")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/question/list2`)
                })
                .catch(err => {
                    console.log(123123213213123)
                    console.log(payload.data)
                    this.$toast.error("다시 입력하세요.")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        checkPage(){
            console.log('check')
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'ANSWER_ADD')
    }
}
</script>
