<template>
    <div class="question-wrap">
        <div class="header-question">
            <div class="left-header-no"><p>no.1</p></div>
            <div class="right-header-status">
                <div>작성자 : {{memberId}}</div>
                <p>답변 상태 : 대기중</p></div>
        </div>
        <div class="header-question-wrap">
            <div
                class="header-question-left">
                <p>제목 </p>
            </div>
            <div class="header-question-right">
                <input :placeholder="title"
                       disabled>
            </div>
        </div>
        <div class="content-question">
            <div class="content-question-left">
               <p>문의 내용</p>
            </div>
            <div class="content-question-right">
                <textarea
                    style=""
                    :placeholder="questionContents"
                    disabled
                ></textarea>
            </div>
        </div>
        <div class="question-bottom-button-wrap">
            <div></div>
            <div class="question-bottom-button">
                <el-button type="primary" @click="moveDetail(id2)">답변 하기</el-button>
                <el-button type="info">뒤로 가기</el-button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    middleware: 'anonymous',
    data() {
        return {
            memberId:'',
            search:'',
            title:'',
            questionContents:'',
            answerStatusName:'',
            dateWrite:'',
            id2:''
        }
    },
    created() {
        this.checkPage()
        this.getList()
    },
    methods: {
        moveDetail(data) {
            let linkBaseUrl = '/answer/add/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        getList() {
            this.$store.dispatch(this.$questionConstants.GET_QUESTION_DETAIL,{id:this.id})
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.list = res.data.list
                    this.id2 = res.data.data.id
                    this.memberId = res.data.data.memberEntityId.memberId,
                    this.title = res.data.data.title,
                    this.questionContents = res.data.data.questionContents,
                    this.dateWrite = res.data.data.dateWrite
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
        checkPage(){
            console.log('check')
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'QUESTION_LIST')
    }
}
</script>

