<template>
    <div class="refg-default-frame flush-box">
        <div class="refg-menu-wrap">
            <div class="in-logo"><nuxt-link to="/">MY<br>REFRIGERATOR</nuxt-link></div>
            <div class="in-menu">
                        <el-menu
                            default-active="2"
                            width="50"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose"
                            background-color=" #404040"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                            <el-submenu
                                v-for="(menuData, menuIndex) in menusList" v-bind:key="menuIndex"
                                :index="menuIndex">
                                <template
                                    slot="title">
                                    <i class="el-icon-location"></i>
                                    <span> {{ menuData.parentName }}</span>
                                </template>
                                <el-menu-item-group
                                    v-for="(menuData2, menuIndex2) in menuData.menuLabel"
                                    v-bind:key="menuIndex2"
                                    v-if="menuData2.isShow"
                                >
                                    <el-menu-item >       <nuxt-link :to="menuData2.link">{{ menuData2.currentName }}
                                    </nuxt-link></el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                        </el-menu>
            </div>
        </div>
        <div class="refg-contents-wrap">
            <div class="in-bread" >
                <span>{{selectMenu[0]}} <i class="el-icon-arrow-right"></i> {{selectMenu[1]}}</span>
            </div>
            <div class="in-contents">

                <Nuxt />
            </div>
        </div>
    </div>
</template>
<script>
import Registration from "@/pages/commercial/registration.vue";

export default {
    components: {Registration},
    data() {
        return {
        }
    },
    methods:{
        handleOpen(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath);
        }
    },
    computed: {
        menusList() {
            return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
        },
        selectMenu() {
            return this.$store.getters[this.$menuConstants.GET_SELECTED_MENU]
        }
    }
}
</script>
