<template>
    <div>
        <el-table
            :data="list"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="포켓몬 no."
                width="180">
            </el-table-column>
            <el-table-column
                prop="memberName"
                label="Date"
                width="180">
            </el-table-column>
            <el-table-column
                prop="memberId"
                label="Date"
                width="180">
            </el-table-column>
            <el-table-column
                prop="interlockInfo"
                label="Date"
                width="180">
            </el-table-column>
            <el-table-column
                prop="phoneNumber"
                label="Name"
                width="180">
            </el-table-column>
            <el-table-column
                prop="defensive"
                label="Address">
            </el-table-column>
            <el-table-column
                prop="dateJoin"
                label="Address">
            </el-table-column>
            <el-table-column
                label="Operations">
                <template slot-scope="scope">
                    <el-button
                        @click="moveDetail(scope.$index+1)">Edit</el-button>
                    <el-button
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>


import axios from "axios";
import apiUrls from "@/store/modules/test-data/api-urls";
import data from "bootstrap/js/src/dom/data";

export default {
    middleware: 'anonymous',
    data() {
        return {
            list:[],
            detail:''
        }
    },
    created() {
        this.checkPage()
        this.getList()
    },
    methods: {
        moveDetail(data) {
            let linkBaseUrl = '/member/detail/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        getList() {
            this.$store.dispatch(this.$memberConstants.GET_MEMBER_LIST)
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.list = res.data.list
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        },
        checkPage(){
            console.log('check')
        }
    }
}
</script>
