
<template>
    <div class="member-detail-wrap">
        <div class="member-detail-content-wrap-correction">
            <div class="header-correction">
            <div>
            </div>
            <div class="header-correction-button"></div></div>
        <div class="member-detail-correction-content">
            <div class="member-detail-icon-correction">
                <i class="el-icon-user" style="font-size: 220px"></i>
            </div>
            <div class="member-detail-icon-correction-button">
                <el-button> 사진 등록 </el-button>
            </div>
            <div class="member-detail-content-center-correction">
                <el-form id="join_member" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
                    <el-row class="join_member" :gutter="15">
                        <el-col :span="8">
                            <el-form-item label="이름" prop="memberName">
                                <el-input v-model="ruleForm.memberName"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row  class="join_member" :gutter="15">
                        <el-col :span="8">
                            <el-form-item label="아이디" prop="memberId">
                                <el-input v-model="ruleForm.memberId"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="join_member" :gutter="15">
                        <el-col :span="8">
                            <el-form-item label="비밀번호" prop="password">
                                <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="join_member" :gutter="15">
                        <el-col :span="8">
                            <el-form-item label="휴대폰 번호" prop="phoneNumber">
                                <el-input v-model="ruleForm.phoneNumber"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="join_member" :gutter="15">
                        <el-col :span="8">
                            <el-form-item label="이메일" prop="mail">
                                <el-input v-model="ruleForm.mail"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="join_member" :gutter="15">
                        <el-col :span="8">
                            <el-form-item label="가입일" prop="dateJoin">
                                <el-input v-model="ruleForm.dateJoin"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row id="join_submit" class="join_member" :gutter="15">
                        <el-col :span="20">
                            <el-form-item>
                                <div id="buttons">
                                    <div id="submit_button"> <el-button type="primary" @click="doSetData()">가입 하기</el-button></div>
                                    <div id="back_button"><el-button @click="">뒤로 가기</el-button> </div>
                                </div>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data () {
        return {
            ruleForm: {
                memberName:'',
                memberId:'',
                password:'',
                phoneNumber:'',
                mail:'',
                dateJoin:'',
            },
            rules: {
                memberName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                memberId: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                password: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                phoneNumber: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                mail: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                dateJoin: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ]}
        };
    },
    methods:{
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    console.log('성공!!!!!')
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData(){
            let payload = {
                id:this.id,
                data:{
                memberName: this.ruleForm.memberName,
                memberId: this.ruleForm.memberId,
                password: this.ruleForm.password,
                phoneNumber: this.ruleForm.phoneNumber,
                mail: this.ruleForm.mail,
                dateJoin:this.ruleForm.dateJoin
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_CORRECT_MEMBER_DETAIL, payload)
                .then(res => {
                    console.log(res)
                    this.$toast.success("등록에 성공하였습니다.")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch(err => {
                    console.log(123123213213123)
                    this.$toast.error("다시 입력하세요.")
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_ADD')
    }
}
</script>
