<template>
    <div>
        <el-table
            :data="list"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="회원 no."
                width="180">
            </el-table-column>
            <el-table-column
                prop="memberName"
                label="Date"
                width="180">
            </el-table-column>
            <el-table-column
                prop="memberId"
                label="회원 아이디"
                width="180">
            </el-table-column>
            <el-table-column
                prop="interlockInfo"
                label="연동 정보"
                width="180">
            </el-table-column>
            <el-table-column
                prop="phoneNumber"
                label="휴대전화"
                width="180">
            </el-table-column>
            <el-table-column
                prop="dateJoin"
                label="가입일">
            </el-table-column>
            <el-table-column
                label="정보 관리"
                width="300">
                <template slot-scope="scope">
                    <el-button
                        @click="moveDetail(list[scope.$index].id)">상세 보기</el-button>
                    <el-button
                        @click="moveDetail2(list[scope.$index].id)">냉장고 보기</el-button>
                    <el-button
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">삭제 하기</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>


import axios from "axios";
import apiUrls from "@/store/modules/test-data/api-urls";
import data from "bootstrap/js/src/dom/data";

export default {
    middleware: 'anonymous',
    data() {
        return {
            list:[],
            detail:''
        }
    },
    created() {
        this.getList()
    },
    methods: {
        moveDetail(data) {
            let linkBaseUrl = '/member/detail/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        moveDetail2(data) {
            let linkBaseUrl = '/refrigerator/list/'
            this.$router.push(`${linkBaseUrl}${data}`)
        },
        getList() {
            this.$store.dispatch(this.$memberConstants.GET_MEMBER_LIST)
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.list = res.data.list
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    }
}
</script>
