<template>
    <div class="commercial2-wrap">
        <div class="commercial-header1"> 광고 상세 보기</div>
        <div class="commercial2-wrap-content">
            <div class="commercial2-header">
                <p>업체 정보</p>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">업체명</div>
                <div class="commercial2-wrap-right">
                    <div class="text-input-wrap">
                    <input
                        disabled
                        class="input-text" type="text"></div>
                </div>
            </div>
            <div class="commercial2-header">
                <p>결제 정보</p>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">결제 금액</div>
                <div class="commercial2-wrap-right">
                    <div class="text-input-wrap">
                        <input
                            disabled
                            class="input-text" type="text"></div>
                </div>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">결제 방법</div>
                <div class="commercial2-wrap-right">
                    <el-select
                        disabled
                        v-model="value"
                        placeholder="Select">
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">결제일</div>
                <div class="commercial2-wrap-right">
                        <el-date-picker
                            disabled
                            v-model="value1"
                            type="date"
                            placeholder="Pick a day">
                        </el-date-picker>
                </div>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">계약 시작일</div>
                <div class="commercial2-wrap-right">
                    <div class="commercial2-wrap-right">
                        <el-date-picker
                            disabled
                            v-model="value2"
                            type="date"
                            placeholder="Pick a day">
                        </el-date-picker>
                    </div>
                </div>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left">계약 종료일</div>
                <div class="commercial2-wrap-right">
                    <div class="commercial2-wrap-right">
                        <el-date-picker
                            disabled
                            v-model="value3"
                            type="date"
                            placeholder="Pick a day">
                        </el-date-picker>
                    </div>
                </div>
            </div>
            <div class="commercial2-header">
                 <p>추가 사항</p>
            </div>
            <div class="commercial-wrap-row2">
                <div class="commercial2-wrap-left2">요청 사항</div>
                <div class="commercial2-wrap-right2">
                    <textarea
                        disabled
                    >

                    </textarea>
                </div>
            </div>
            <div class="commercial2-bottom-button">
                <el-button type="info" plain>뒤로 가기</el-button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            options: [{
                value: 'Option1',
                label: 'Option1'
            }, {
                value: 'Option2',
                label: 'Option2'
            }],
            value: '',
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: 'Today',
                    onClick(picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: 'Yesterday',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: 'A week ago',
                    onClick(picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value1: '',
            value2: '',
            value3: '',
        };
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'COMMERCIAL_DETAIL')
    }
};

</script>
