<template>
    <div class="question-wrap">
        <div class="header-question">
            <div class="left-header-no"><p>no.1</p></div>
            <div class="right-header-status"><p>답변 상태 : 대기중</p></div>
        </div>
        <div class="header-question-wrap">
            <div class="header-question-left">
                <p>문의 제목</p>
            </div>
            <div class="header-question-right">
                <input placeholder="레시피 연결 해결 문의 건"
                       disabled>
            </div>
        </div>
        <div class="content-question2">
            <div class="content-question-left2">
               <p>문의 내용</p>
            </div>
            <div class="content-question-right2">
                <textarea
                    style=""
                    placeholder="감자탕이 먹고 싶은데 연결 안되네요. 현기증 납니다. 빠른 답변 부탁드립니다."
                    disabled
                ></textarea>
            </div>
        </div>
        <div class="header-question-wrap2">
            <div class="header-question-left">
                <p>답변 제목</p>
            </div>
            <div class="header-question-right">
                <input placeholder="Re:레시피 연결 해결 문의 건"
                       disabled>
            </div>
        </div>
        <div class="content-question2">
            <div class="content-question-left2">
                <p>답변 내용</p>
            </div>
            <div class="content-question-right2">
                <textarea
                    placeholder="기존 답변 : 해당 레시피에 오류가 있는 것으로 확인하여 조치하였습니다. 확인 부탁드리겠습니다. 감사합니다."
                ></textarea>
            </div>
        </div>
        <div class="question-bottom-button-wrap">
            <div></div>
            <div class="question-bottom-button">
                <button type="submit">수정 하기</button>
                <el-button type="info">뒤로 가기</el-button>
            </div>
        </div>
    </div>
</template>
<script setup>
</script>
