<template>
    <el-table
        :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
        style="width: 100%">
        <el-table-column
            label="id"
            prop="id"
            width="60">
        </el-table-column>
        <el-table-column
            label="작성자 Id"
            prop="questionsId"
            width="120">
        </el-table-column>
        <el-table-column
            label="answerTitle"
            prop="answerTitle"
            width="500">
        </el-table-column>
        <el-table-column
            label="Date"
            prop="dateAnswer">
        </el-table-column>
        <el-table-column
            align="right">
            <template slot="header" slot-scope="scope">
                <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Type to search"/>
            </template>
            <template slot-scope="scope">
                <el-button
                    @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                <el-button
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
export default {
    data() {
        return {
            tableData: [{
                id: '',
                questionsId: '',
                dateAnswer: '',
                answerTitle:''
            }],
            search: '',
        }
    },
    created() {
        this.checkPage()
        this.getList()
    },
    methods: {
        handleEdit(index, row) {
            console.log(index, row);
        },
        handleDelete(index, row) {
            console.log(index, row);
        },
        getList() {
            this.$store.dispatch(this.$memberConstants.GET_ADMIN_ANSWER_LIST)
                .then((res) => {
                    console.log(123)
                    console.log(res)
                    this.tableData = res.data.list
                })
                .catch((err) => {
                    console.log(13232)
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                })
        } ,    checkPage(){
            console.log('check')}
    },
}
</script>

